node_modules/
documents/
src/
public/
temp/
test/
test-dts/
test-e2e/
test-results/
test-e2e-report/
standalone/
*.log
.gitignore
.github
README.ko.md
tsconfig.json
jest.config.js
playwright.config.ts
package-lock.json