node_modules/
documents/
src/
public/
e2e/
test/
test-results/
test-dts/
standalone/
playwright-report/
*.log
.gitignore
.github
README.ko.md
tsconfig.json
jest.config.js
playwright.config.ts
package-lock.json